#navList {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}

.navContainer {
    width: 100vw;
    background: #59CDE9;
    background: -webkit-linear-gradient(to right, #0A2A88, #59CDE9);
    background: linear-gradient(to right, #0A2A88, #59CDE9);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
    overflow-x: none;
}

#navList {
    width: 100%;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#navLogo {
    font-size: 2.8rem;
    color: beige;
}

a {
    text-decoration: none;
    color: azure;
}
a:hover {
    text-decoration: underline;
    color: crimson;
}

#navItems {
    display: flex;
    gap: 40px;
}

.footerBox {
    background: #59CDE9;
    background: -webkit-linear-gradient(to right, #0A2A88, #59CDE9);
    background: linear-gradient(to right, #0A2A88, #59CDE9);
    text-align: center;
    min-height: 35px;
}

.footerBox p {
    color: beige;
    font-size: 1.5rem;
}

.contentBox {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox {
    position: relative;
    overflow: hidden;
    transition: all 0.5s linear 0s;
}
.rightBox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.5s linear 0s;
}
.rightBox .overlay span {
    color: beige;
    font-size: 1.3rem;
}

.rightBox:hover .overlay {
    opacity: 1;
}
.rightBox img {
    height: 350px;
    width: 280px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}

.rightBox:hover {
    transform: scale(1.2);
}

.leftBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2 {
    font-size: 2rem;
    color: brown;
    text-decoration: underline;
    cursor: grab;
}

.ingBox {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 5px;
}

.recipeBox {
    font-size: 1.1rem;
    margin-left: 5px;
    margin-top: 5px;
}